.App{
  display: flex;
  height: 100%;
}

.menu-container{
  background-color: white;
  width: 35%;
  max-width: 350px;
  height: 100%;
  border-right: .3px solid #d5dce0;
}

.content-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content-container > header{
  background-color: white;
  width: 100%;
  height: 200px;
}

.content-wrapper{
  display: flex;
  height: 500px;
  padding: 20px 30px;
}

.wallet-item{
  height: 100%;
  width: 33%;
  background-color: white;
  margin: 30px 20px;
  display: flex;
}

.wallet-item .title{
  padding: 20px  20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #5E6165;
  font-size: 1.3em;
}


.gauge{
  background-color: red;
  width: 310px;
  height: 300px;

}