body{
  font-family: 'Roboto';
}
.App{
  display: flex;
  height: 100%;
  background-color: #191919;
  flex-direction: column;
}

.header{
  border-bottom: solid 1px #8e8e8e80;
  height: 60px;
}

.content-container{
  display: flex;
  padding: 45px 30px;
  justify-content: space-around;
}

.goal{
  background-color: #353535;
  width: 500px;
  height: 360px;
  color: #8E8E8E;
  border-radius: 5px;
  transition: 90ms border-bottom;
}

.goal:hover{
  cursor: pointer;
  border-bottom: solid 3px #1B8DD9;
}

.goal-header{
  font-size: 1.6em;
  height: 60px;
  border-bottom: 1px solid #8E8E8E;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

.goal-body{
  padding: 0px 30px;
}

.goal .description{
  font-size: 1.2em;
  display: block;
  margin-top: 25px;
}

.goal .value{
  font-size: 2em;
  font-family: 'M PLUS Rounded 1c';
  font-weight: 500;
}

.goal-footer{
  display: flex;
  font-size: .8rem;
  width: 100%;
  
}

.goal-footer .description{
  margin-top: 25px;
}

.goal-footer .value{
  font-weight: 400;
}

.total-applied{
  float: left;
  margin-right: auto;
  margin-left: 30px;
  
}

.not-applied{
  float: right;
  margin-left: auto;
  margin-right: 30px;
}

.total-saved .value{
  color: #1B8DD9;
}

.total .value{
  color: #459638;
}

.total-applied .value{
  color: #10AAA1;
}

.not-applied .value{
  color: #D29F1B;
}