html{
  background: #191919;
}

body {
  height: 100%;
  background-color: #EBF0F6;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

#root, body, html{
  height: 100%;
}

.App{
  display: flex;
  height: 100%;
  background-color: #191919;
  flex-direction: column;
}
.header{
  border-bottom: solid 1px #8e8e8e80;
  height: 50px !important;
  min-height: 50px !important;
}