.card {
  background-color: #353535;
  margin: 15px 0;
  border-radius: 5px;
  display: flex;
  padding: 20px 30px;
}

.title {
  font-size: 1.3rem;
  color: white;
}

.goal-container {
  padding: 20px 50px;
}

.overall-data .title {
  color: white;
}

.overall-data .data {
  color: white;
  background-color: #353535;
  margin: 15px 0;
  border-radius: 5px;
  display: flex;
}

.overall-content-data {
  width: 100%;
  border-right: solid 2px #8282827a;
  padding-left: 45px;
  padding: 7px 55px;
  margin: 12px 5px;
  font-size: 0.8rem;
}

.overall-content-data:last-of-type {
  width: 45%;
  border-right: none;
}

.overall-content-data .description {
  font-size: 1.2em;
  display: block;
}

.overall-content-data .value {
  font-size: 2em;
  font-family: 'M PLUS Rounded 1c';
  font-weight: 500;
}

.total-saved .value {
  color: #1B8DD9;
}

.total-saved, .total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.content {
  display: grid;
  grid-template-columns: 76% 23%;
  grid-column-gap: 1%;
  margin-top: 30px;
}

.register-item {
  display: flex;
  width: 100%;
  color: white;
  height: 50px;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  border-top: solid 1px #ffffff40;
}

.register-item:first-of-type{
  border-top: none;
}

.added-date {
  width: 40%;
}

.register-value {
  margin-left: auto;
}

.register-value .description {
  margin-right: 18px;
  color: #efe4e48c;
}

.register-log{
  display: flex;
  flex-direction: column;
}